// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_TERM 50
#define MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(LAYER, POSITION, BINDING) \
bottomrowcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_TERM>; \
};

/ {
  combos {
    compatible = "zmk,combos";
#if defined (MIRYOKU_LAYERS_FLIP)
  #if defined (MIRYOKU_ALPHAS_AZERTY)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_BEAKL15)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAKDHK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_DVORAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_HALMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_WORKMAN)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_QWERTY)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_QWERTZ)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #endif
  #if defined (MIRYOKU_NAV_INVERTEDT)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_NAV_VI)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #endif
#else
  #if defined (MIRYOKU_ALPHAS_AZERTY)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_BEAKL15)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAKDHK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_DVORAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_HALMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_WORKMAN)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_QWERTY)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BASE, LEFTPINKIE, &kp Z)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BASE, LEFTINNERINDEX, &kp B)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BASE, RIGHTINNERINDEX, &kp N)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BASE, RIGHTPINKIE, &kp BSLH)
  #elif defined (MIRYOKU_ALPHAS_QWERTZ)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BASE, LEFTPINKIE, &lt U_BUTTON Z)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BASE, LEFTINNERINDEX, &kp V)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BASE, RIGHTINNERINDEX, &kp K)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BASE, RIGHTPINKIE, &lt U_BUTTON SLASH)
  #endif
  #if defined (MIRYOKU_NAV_INVERTEDT)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_NAV_VI)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_NAV, LEFTPINKIE, U_NA)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_NAV, LEFTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_NAV, RIGHTINNERINDEX, &kp INS)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_NAV, RIGHTPINKIE, &kp END)

    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MOUSE, LEFTPINKIE, U_NA)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MOUSE, LEFTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MOUSE, RIGHTINNERINDEX, U_NU)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MOUSE, RIGHTPINKIE, U_WH_R)

    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MEDIA, LEFTPINKIE, U_NA)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MEDIA, LEFTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MEDIA, RIGHTINNERINDEX, &u_out_tog)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_MEDIA, RIGHTPINKIE, &u_bt_sel_3)
  #endif
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_NUM, LEFTPINKIE, &kp GRAVE)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_NUM, LEFTINNERINDEX, &kp BSLH)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_NUM, RIGHTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_NUM, RIGHTPINKIE, U_NA)

    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_SYM, LEFTPINKIE, &kp TILDE)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_SYM, LEFTINNERINDEX, &kp PIPE)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_SYM, RIGHTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_SYM, RIGHTPINKIE, U_NA)

    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_FUN, LEFTPINKIE, &kp F10)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_FUN, LEFTINNERINDEX, &kp PAUSE_BREAK)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_FUN, RIGHTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_FUN, RIGHTPINKIE, U_NA)
#endif
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BUTTON, LEFTPINKIE, U_UND)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BUTTON, LEFTINNERINDEX, U_RDO)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BUTTON, RIGHTINNERINDEX, U_RDO)
    MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_MACRO(U_BUTTON, RIGHTPINKIE, U_UND)
  };
};
