// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define MIRYOKU_X(CODE, EMPTY) \
MIRYOKU_TAPDELAY_TAP(CODE##EMPTY) \
MIRYOKU_TAPDELAY_MT(CODE##EMPTY) \
MIRYOKU_TAPDELAY_LT(CODE##EMPTY)

MIRYOKU_TAPDELAY_LIST

#undef MIRYOKU_X
