// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define MIRYOKU_KLUDGE_THUMBCOMBOS_TERM 200
#define MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(LAYER, POSITION, BINDING) \
thumbcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_THUMBCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_THUMBCOMBOS_TERM>; \
};

/ {
  combos {
    compatible = "zmk,combos";
#if defined (MIRYOKU_LAYERS_FLIP)
  #if defined (MIRYOKU_KLUDGE_THUMBCOMBOS_LEFT)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BASE, LEFT, &lt U_FUN DEL)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_EXTRA, LEFT, &lt U_FUN DEL)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BUTTON, LEFT, U_BTN3)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_NAV, LEFT, &kp DEL)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_MOUSE, LEFT, U_BTN3)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_MEDIA, LEFT, &kp C_MUTE)
  #endif
  #if defined (MIRYOKU_KLUDGE_THUMBCOMBOS_RIGHT)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BASE, RIGHT, &lt U_MEDIA ESC)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_EXTRA, RIGHT, &lt U_MEDIA ESC)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BUTTON, RIGHT, U_BTN3)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_NUM, RIGHT, &kp DOT)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_SYM, RIGHT, &kp RPAR)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_FUN, RIGHT, &kp K_APP)
  #endif
#else
  #if defined (MIRYOKU_KLUDGE_THUMBCOMBOS_LEFT)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BASE, LEFT, &lt U_MEDIA ESC)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_EXTRA, LEFT, &lt U_MEDIA ESC)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BUTTON, LEFT, U_BTN3)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_NUM, LEFT, &kp DOT)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_SYM, LEFT, &kp LPAR)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_FUN, LEFT, &kp K_APP)
  #endif
  #if defined (MIRYOKU_KLUDGE_THUMBCOMBOS_RIGHT)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BASE, RIGHT, &lt U_FUN DEL)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_EXTRA, RIGHT, &lt U_FUN DEL)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_BUTTON, RIGHT, U_BTN3)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_NAV, RIGHT, &kp DEL)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_MOUSE, RIGHT, U_BTN3)
    MIRYOKU_KLUDGE_THUMBCOMBOS_MACRO(U_MEDIA, RIGHT, &kp C_MUTE)
  #endif
#endif
  };
};
