# Copyright 2021 Manna Harbour
# https://github.com/manna-harbour/miryoku

name: "Build tukon"
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano_v2"]'
      shield: '["tukon_left", "tukon_right"]'
