# Copyright 2023 Manna Harbour
# https://github.com/manna-harbour/miryoku

name: 'Delabuild'
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano_v2"]'
      shield: '["corne_left", "corne_right"]'
      branches: '["caksoylar/zmk/feat/mouse-keys-3.2"]'
      kconfig: '["CONFIG_ZMK_COMBO_MAX_COMBOS_PER_KEY=16]"]'
